html,
body {
  margin: 0px;
  padding: 1px;
  border: 0px;
  outline: 0 none;
  background: #ffd54f;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 600px;
  margin: 100px auto;
  border-radius: 5px;
  border: 2px solid #333;
  position: relative;
}

.clock-container:before,
.clock-container:after {
  clear: both;
  content: "";
  display: block;
}

.clock-container {
  margin: 10px auto;
  width: 420px;
}

.minutes,
.seconds,
.milliseconds,
.hours {
  height: 50px;
  width: 90px;
  float: left;
  margin: 5px;
  position: relative;
  border: 2px solid #ffd54f;
  overflow: hidden;
}

.hours-list,
.minutes-list,
.seconds-list,
.milliseconds-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hours-list li,
.minutes-list li,
.seconds-list li,
.milliseconds-list li {
  display: block;
  height: 50px;
  font-size: 45px;
  color: #fff;
  font-weight: bold;
  margin-left: 12px;
  letter-spacing: 15px;
}

.hours-list {
  -webkit-animation: ani-3 43200s steps(12, end) 0s infinite paused;
  animation: ani-3 43200s steps(12, end) 0s infinite paused;
}

.minutes-list {
  -webkit-animation: ani-1 3600s steps(60, end) 0s infinite paused;
  animation: ani-1 3600s steps(60, end) 0s infinite paused;
}

.seconds-list {
  -webkit-animation: ani-1 60s steps(60, end) 0s infinite paused;
  animation: ani-1 60s steps(60, end) 0s infinite paused;
}

.milliseconds-list {
  -webkit-animation: ani-2 1s steps(100, end) 0s infinite paused;
  animation: ani-2 1s steps(100, end) 0s infinite paused;
}

@-webkit-keyframes ani-1 {
  to {
    transform: translateY(-3000px);
  }
}

@keyframes ani-1 {
  to {
    transform: translateY(-3000px);
  }
}

@-webkit-keyframes ani-2 {
  to {
    transform: translateY(-5000px);
  }
}

@keyframes ani-2 {
  to {
    transform: translateY(-5000px);
  }
}

@-webkit-keyframes ani-3 {
  to {
    transform: translateY(-600px);
  }
}

@keyframes ani-3 {
  to {
    transform: translateY(-600px);
  }
}

.watch {
  width: 110px;
  height: 110px;
  background-color: transparent;
  position: relative;
  margin: 30px auto;
  border: 5px solid white;
  border-radius: 100px;
}

.minutes-hand {
  width: 5px;
  height: 50px;
  border-radius: 3px;
  background-color: white;
  position: absolute;
  top: 7px;
  left: 52.5px;
  -webkit-animation: watch 2s linear 0s infinite paused;
  animation: watch 2s linear 0s infinite paused;
  transform-origin: 2px 47.5px;
}

.hours-hand {
  width: 5px;
  height: 40px;
  border-radius: 3px;
  background-color: white;
  position: absolute;
  top: 16px;
  left: 52.5px;
  -webkit-animation: watch 5s linear 0s infinite paused;
  animation: watch 5s linear 0s infinite paused;
  transform-origin: 2px 37.5px;
}

@-webkit-keyframes watch {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes watch {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.start {
  display: none;
  opacity: 0;
}

.start-label {
  border: 2px solid #ffd54f;
  border-radius: 5px;
  color: #fff;
  transition: all 0.2s;
  cursor: pointer;
  display: block;
  height: 40px;
  line-height: 42px;
  margin: 20px auto;
  text-align: center;
  width: 128px;
}

.start-label:hover {
  background: #19112d;
}

.start:checked ~ .clock-container .milliseconds .milliseconds-list {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.start:checked ~ .clock-container .seconds .seconds-list {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.start:checked ~ .clock-container .minutes .minutes-list {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.start:checked ~ .clock-container .hours .hours-list {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.start:checked ~ .watch .minutes-hand {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.start:checked ~ .watch .hours-hand {
  animation-play-state: running;
  animation-play-state: running;
}

@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body {
	margin: 0;
	height: 100%;
	background-image: linear-gradient(to top, #ffd54f 0%, #f7cd43 100%);
	background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.button_container {
	position: absolute;
  left: 0;
  right: 0;
  top: 30%;
}

.description, .link {
  font-family: 'Amatic SC', cursive;
  text-align: center;
}

.description {
	font-size: 35px;
}

.btn {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #222;
  padding: 17px 60px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

.btn span {
  position: relative; 
  z-index: 1;
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #ffd54f;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.link {
  font-size: 20px;
  margin-top: 30px;
}

.link a {
  color: #000;
  font-size: 25px; 
}

